@font-face {
    font-family: 'Balgin Bold';
    src: url('assets/Balgin/Balgin Bold.ttf') format('truetype')
}
@font-face {
    font-family: 'Balgin Semi Bold';
    src: url('assets/Balgin/Balgin Semi Bold.ttf') format('truetype')
}
@font-face {
    font-family: 'Balgin Light';
    src: url('assets/Balgin/Balgin Light.ttf') format('truetype')
}
@font-face {
    font-family: 'Balgin Light Sm Condensed';
    src: url('assets/Balgin/Balgin Light Sm Condensed.ttf') format('truetype')
}
@font-face {
    font-family: 'Rubik Bold';
    src: url('assets/Rubik/Rubik-Bold.ttf') format('truetype')
}
@font-face {
    font-family: 'Rubik Semi Bold';
    src: url('assets/Rubik/Rubik-SemiBold.ttf') format('truetype')
}
@font-face {
    font-family: 'Rubik Light';
    src: url('assets/Rubik/Rubik-Light.ttf') format('truetype')
}
body {
    margin: 0;
    background-color: #1c1c1c;
    height: 150vh;
}
.pre-header {
    width: -webkit-fill-available;
    max-width: 1450px;
    margin: 0px auto;
    top: 0;
    left: 0;
    height: 35px;
    position: sticky;
    padding-top: 21px;
    padding-bottom: 21px;
    display: block;
    background: linear-gradient(#1c1c1c 99%, #2b2b2b);
    z-index: 1;
    transition: height ease-out 0.4s;
    /* transition: background 1s ease-out 0.5s; */
}
.header {
    width: -webkit-fill-available;
    display: inline-flex;
    position: sticky;
}
/* .menu-header {
    margin-left: auto;
} */
.h-menu {
    font-family: system-ui, 'Rubik Light', 'Balgin Light Sm Condensed', serif;
    font-size: 18px;
    color: #dddddd;
    margin-right: 25px;
    vertical-align: -webkit-baseline-middle;
    font-weight: 400;
}
.h-menu:hover {
    cursor: pointer;
    transition: fill 0.2s ease-out;
    color: #d9e021;
}
.icon-lang {
    margin-right: 75px;
    fill: #dddddd;
    vertical-align: -webkit-baseline-middle;
    transition: fill 0.2s ease-out;
}
.icon-lang:hover {
    cursor: pointer;
    transition: fill 0.2s ease-out;
    fill: #d9e021;
}

.logo-image {
    width: 2rem;
    height: 2rem;
}
.logo-text {
    font-family: 'Balgin Semi Bold', 'Rubik Bold', serif;
    color: white;
    font-size: 24px;
    margin-left: 75px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    letter-spacing: 1px;
    text-decoration: none;
}
.logo-text:hover {
    cursor: pointer;
    transition: fill 0.2s ease-in-out;
    color: #d9e021;
}

.animation {
    vertical-align: sub;
    height: 1em;
    overflow: hidden;
    display: inline-block;
    line-height: 2em;
}
.ul-word {
    animation: animation 14s infinite;
    padding: 0;
    margin-top: -0.55em;
    list-style: none;
}
@keyframes animation {
    18%        { margin-top: -0.55em }
    34%     { margin-top: -2.54em }
    50%       { margin-top: -4.55em }
    66%     { margin-top: -6.55em }
    82%       { margin-top: -8.5em }
    96%     { margin-top: -10.45em }
}
.button {
    margin-top: 40px;
    border: solid 1px white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: transparent;
    color: white;
    font-family: system-ui;
    font-size: 15px;
    border-radius: 4px;
    outline: none;
}
.button:hover {
    cursor: pointer;
    border: solid 1px #d9e021;
    background: transparent;
    color: #d9e021;
    font-family: system-ui;
    font-size: 15px;
    box-shadow: 3px 3px 0px #d9e021;
    border-radius: 4px;
}
.button-2 {
    margin-top: 40px;
    border: solid 1px #d9e021;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: #d9e021;
    color: #1c1c1c;
    font-family: system-ui;
    font-size: 15px;
    border-radius: 4px;
    outline: none;
}
.button-2:hover {
    cursor: pointer;
    border: solid 1px #e5e995;
    background: #e5e995;
    color: #1c1c1c;
    font-family: system-ui;
    font-size: 15px;
    box-shadow: 3px 3px 0px #d9e021;
    border-radius: 4px;
}
.logo-image-div {
    position: absolute;
    width: 30%;
    max-width: 500px;
}
.logo-image-div-device {
    display: none;
}
#logo-image-div1 {
    margin-top: 140px;
    margin-left: 100px;
    transition: margin-top .5s ease-out, margin-left .5s ease-out;
}
#logo-image-div2 {
    margin-top: 160px;
    margin-left: 200px;
    transition: margin-top .5s ease-out, margin-left .5s ease-out;
}
.block1 {
    width: 100%;
    height: auto;
    max-height: 100vh;
}
#text-h1-block1 {
    position: relative;
    padding-top: min(25vh, 15em);
    padding-bottom: min(25vh, 15em);
    margin-left: 60%;
    margin-right: 10%;
}
.block-get-started {
    padding-right: 75px;
    padding-left: 75px;
    padding-bottom: 85px;
    padding-top: 85px;
    display: flex;
}
.block-get-started-in-text {
    width: 500px;
    height: fit-content;
    margin: auto;
}
.image-get-started {
    margin-right: 75px;
}
.h1 {
    font-family:  system-ui, 'Balgin Semi Bold', 'Rubik Semi Bold', serif;
    font-size: 35px;
    color: white;
    font-weight: 700;
}
.h2 {
    font-family:  system-ui, 'Rubik Light', 'Balgin Light Sm Condensed', serif;
    font-size: 24px;
    color: #dddddd;
    font-weight: 400;
}
.h2-2 {
    font-family:  system-ui, 'Rubik Light', 'Balgin Light Sm Condensed', serif;
    font-size: 21px;
    color: #dddddd;
    font-weight: 400;
    line-height: 140%;
}
.h1-1 {
    font-family:  system-ui, 'Balgin Semi Bold', 'Rubik Semi Bold', serif;
    font-size: 26px;
    color: white;
    font-weight: 700;
}
.block2 {
    height: fit-content;
    width: auto;
    padding-left: 75px;
    padding-right: 75px;
}
.block2-in {
    display: inline-flex;
    width: -webkit-fill-available;
    height: fit-content;
    margin-top: 75px;
    margin-bottom: 75px;
    border: solid 1px white;
    box-shadow: -5px -5px 0px #d9e021;
    border-radius: 5px;
    overflow: hidden;
}
.image-1 {
    width: 35%;
    height: intrinsic;
    margin-top: auto;
    margin-bottom: auto;
}

.block3 {
    padding-right: 75px;
    padding-left: 75px;
    background-color: white;
    height: fit-content;
    width: auto;
}
.block3-in {
    display: inline-flex;
    width: -webkit-fill-available;
    height: fit-content;
    margin-top: 75px;
    margin-bottom: 75px;
    border: solid 1px #1c1c1c;
    box-shadow: 5px 5px 0px #d9e021;
    border-radius: 5px;
    overflow: hidden;
}
.image-2 {
    width: 35%;
    height: intrinsic;
    margin-top: auto;
    margin-bottom: auto;
}
.h1-dark {
    font-family: system-ui, 'Balgin Semi Bold', 'Rubik Semi Bold', serif;
    font-size: 35px;
    color: #1c1c1c;
    font-weight: 700;
}
.h2-dark {
    font-family: system-ui, 'Rubik Light', 'Balgin Light Sm Condensed', 'Rubik Light', serif;
    font-size: 24px;
    color: #242424;
    /*letter-spacing: -1px;*/
    font-weight: 400;
}
.h1-dark-1 {
    font-family: system-ui, 'Balgin Semi Bold', 'Rubik Semi Bold', serif;
    font-size: 26px;
    color: #1c1c1c;
    font-weight: 700;
}
.h2-dark-2 {
    font-family: system-ui, 'Rubik Light', 'Balgin Light Sm Condensed', 'Rubik Light', serif;
    font-size: 21px;
    color: #242424;
    font-weight: 400;
    line-height: 140%;
}
.block4 {
    height: auto;
    width: -webkit-fill-available;
    background-color: white;
    display: inline-flex;
    padding-left: 75px;
}
.menu-block {
    background-color: white;
    /*padding: 50px;*/
    width: -webkit-fill-available;
    height: auto;
    margin-right: 75px;
    margin-top: 75px;
    margin-bottom: 75px;
    border: solid 1px #1c1c1c;
    box-shadow: 5px 5px 0px #d9e021;
    display: grid;
    border-radius: 5px;
}

.menu-block:hover {
    cursor: pointer;
    background-color: #f6faf0;
    width: -webkit-fill-available;
    height: auto;
    border: solid 1px #1c1c1c;
    box-shadow: 0px 0px 5px #d9e021;
}
.image-3 {
    width: 75%;
    /*margin-top: auto;*/
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.block-contribute {
    display: inline-flex;
    width: -webkit-fill-available;
    height: fit-content;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 75px;
    margin-bottom: 75px;
    background: linear-gradient(49.21deg, rgba(252, 245, 3, 0.15) 19.87%, rgba(207, 255, 0, 0.15) 58.46%, rgba(127, 246, 5, 0.15) 97.05%);;
    border-radius: 5px;
    overflow: hidden;
}
.image-4 {
    width: 40%;
    height: intrinsic;
    margin-top: auto;
    margin-bottom: auto;
    /*margin-left: 10%;*/
}
.button-3 {
    margin-top: 40px;
    border: solid 1px white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 13px;
    padding-right: 13px;
    background: transparent;
    color: white;
    font-family: system-ui;
    font-size: 15px;
    border-radius: 4px;
    outline: none;
    display: flex;
}
.button-3:hover {
    text-align: center;
    cursor: pointer;
    border: solid 1px #d9e021;
    background: transparent;
    color: #d9e021;
    font-family: system-ui;
    font-size: 15px;
    box-shadow: 3px 3px 0px #d9e021;
    border-radius: 4px;
    display: flex;
}
.button-3:hover #button-github {
    fill: #d9e021;
}

.block-table {
    height: fit-content;
    width: auto;
    padding: 75px;
    display: grid;
}
.table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.table-in {
    color: rgb(242, 242, 242);
    height: 20rem;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid;
    padding: 1.5rem;
}
.h-table-1 {
    font-size: 20px;
    margin-bottom: 0.5rem;
    color: rgb(242, 242, 242);
    text-transform: uppercase;
    font-family:  Courier New, SFMono-Regular, monospace;
    font-weight: 500;
}
.h-table-2 {
    font-size: 18px;
    color: rgb(242, 242, 242);
    font-family:  system-ui, 'Rubik Light', 'Balgin Light Sm Condensed', serif;
    font-weight: 300;
    line-height: 140%;
}
.h-max {
    font-size: 52px;
    color: rgb(242, 242, 242);
    font-family:  system-ui, 'Rubik Light', 'Balgin Light Sm Condensed', serif;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 21px;
}

footer {
    padding: 75px;
    display: flex;
}
.h3 {
    font-family: system-ui, 'Balgin Semi Bold', 'Rubik Semi Bold', serif;
    font-size: 18px;
    font-weight: 600;
    color: #d9e021;
}
.update-links {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.icon-link {
    margin-left: 15px;
}
.icon-link:hover {
    cursor: pointer;
    fill: #d9e021;
}
.footer-div {
    margin-right: 60px;
    display: block;
}
.li-footer {
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: -40px;
    font-family: system-ui, 'Balgin Semi Bold', 'Rubik Semi Bold', serif;
    font-size: 16px;
    font-weight: 300;
}
.li-footer a {
    text-decoration: none;
    color: white;
}
.li-footer a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #d9e021;
}

.hat_text:hover .dropdown_items {
    display: block;
}
.hat_text:hover .down_clipart {
    color: #d9e021;
}
.down_clipart {
    margin-left: 0.4em;
    height: 0.5em;
}
#hat {
    padding-bottom: 30px;
}
.dropdown_items {
    position: absolute;
    list-style-type: none;
    display: none;
    background: #d9e021;
    top: 100%;
    width: auto;
    padding-left: 0;
    margin-top: -10px;
    margin-left: -70px;
}
.dropdown_items:hover .dropdown_items{
    display: block;
}
.dropdown_item_in {
    padding: 10px;
    color: white;
    display: list-item;
    text-align: -webkit-match-parent;
}
.dropdown_item_in:hover {
    background-color: #e5e995;
}
.hat_text {
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.hat_text:hover {
    color: #d9e021;
}
.desktop-image {
    display: block;
}
.device-image {
    display: none;
}
/* --------------------------- */
.menu-button {display: none}
.mobile-menu {display: none}
@media screen and (max-width: 840px) {
    .menu-button {
        display: flex;
        float: right;
        margin-right: 5rem;
        margin-left: auto;
        padding-top: 0.75rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-bottom: 1.25rem;
    }
    .menu-button-burger::before,
    .menu-button-burger::after {
        position: absolute;
        content: '';
        height: 2px;
        width: 25px;
        background: white;
        transition: all .3s ease-in-out;
    }
    .menu-button-burger::after {
        transform: translateY(7px);
    }
    /*ANIMATION OPEN*/
    .menu-button.open .menu-button-burger::before {
        transform: rotate(45deg);
    }
    .menu-button.open .menu-button-burger::after {
        transform: rotate(-45deg);
    }
    .pre-header {
        position: fixed;
    }
    .pre-header.open {
        height: 300px;
        overflow: hidden;
        background: linear-gradient(#1c1c1c 99%, #2b2b2b);
        /* transition: height 1s ease-out 0.5s;
        transition: background 1s ease-out 0.5s; */
    }
    .mobile-menu {
        display: grid;
        grid-gap: 18px;
        width: -webkit-fill-available;
        position: absolute;
        padding-top: 40px;
        padding-right: 45px;
        padding-left: 45px;
        opacity: 0%;
        transition: all .1s ease-in-out;
    }
    .mobile-menu.open {
        margin-top: auto;
        margin-bottom: auto;
        opacity: 100%;
    }
    .menu-mobile-text {
        font-family: system-ui, serif;
        font-size: 28px;
        font-weight: 400;
        color: #dddddd;
    }
    .menu-mobile-text:hover {
        color: #d9e021;
    }
/* --------------------------- */

    .hat_text {
        display: none;
    }
    .logo-text {
        margin-left: 45px;
    }
    .device-image {
        display: block;
    }
    .menu-header {
        display: none;
    }
    .desktop-image {
        display: none;
    }
    .logo-image-div {
        display: none;
    }
    .logo-image-div-device {
        display: block;
    }
    .block1 {
        padding-top: 60px;
        height: auto;
        display: contents;
    }
    #logo-image-div2-device {
        width: 70%;
        margin: 120px 60px 80px auto;
    }
    #text-h1-block1 {
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 45px;
        margin-right: 45px;
        margin-bottom: 45px;
    }
    .block-get-started {
        display: grid;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 45px;
    }
    .block-get-started-in-text {
        width: 100%;
        height: fit-content;
        margin: 0;
    }
    .image-get-started {
        margin-top: 45px;
        margin-right: 0;
    }
    .block2 {
        height: fit-content;
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
    .block2-in {
        display: grid;
        width: -webkit-fill-available;
        height: fit-content;
        margin-top: 0;
        margin-bottom: 0;
        border: none;
        box-shadow: none;
        border-radius: 0;
        overflow: hidden;
    }

    .block3 {
        padding-right: 0;
        padding-left: 0;
        background-color: white;
        height: fit-content;
        width: auto;
    }
    .block3-in {
        display: grid;
        width: -webkit-fill-available;
        height: fit-content;
        margin-top: 0;
        margin-bottom: 0;
        border: none;
        box-shadow: none;
        border-radius: 0;
        overflow: hidden;
    }
    .block4 {
        height: auto;
        width: -webkit-fill-available;
        background-color: white;
        display: grid;
        padding: 15px 35px;
    }
    .menu-block {
        background-color: white;
        width: -webkit-fill-available;
        height: auto;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
        border: solid 1px #1c1c1c;
        /*border: none;*/
        /*box-shadow: 5px 5px 0px #d9e021;*/
        box-shadow: none;
        display: grid;
        border-radius: 5px;
    }
    .menu-block:hover {
        cursor: pointer;
        background-color: #f6faf0;
        width: -webkit-fill-available;
        height: auto;
        border: solid 1px #1c1c1c;
        /*border: none;*/
        /*box-shadow: 0px 0px 5px #d9e021;*/
        box-shadow: none;
    }
    .block-contribute {
        display: grid;
        width: -webkit-fill-available;
        height: fit-content;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 0;
        padding-bottom: 80px;
        margin-top: 0;
        margin-bottom: 0;
        background: linear-gradient(49.21deg, rgba(252, 245, 3, 0.15) 19.87%, rgba(207, 255, 0, 0.15) 58.46%, rgba(127, 246, 5, 0.15) 97.05%);;
        border-radius: 0;
        overflow: hidden;
    }
    .update-links {
        display: grid;
        padding-left: 45px;
        padding-right: 45px;
    }
    .icon-link {
        margin-top: 20px;
        margin-right: 15px;
        margin-left: 0;
    }
    .icon-link:hover {
        cursor: pointer;
        fill: #d9e021;
    }
    .block-table {
        height: fit-content;
        width: auto;
        padding: 35px;
        display: grid;
    }
    .table {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .table-in {
        color: rgb(242, 242, 242);
        height: 15rem;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: justify;
        justify-content: space-between;
        align-items: flex-start;
        border: 1px solid;
        padding: 1.5rem;
    }
    footer {
        width: -webkit-fill-available;
        padding: 45px;
        display: inline-grid;
        grid-row-gap: 35px;
    }
    .footer-div {
        margin-right: 0;
    }
    .image-4 {
        width: 100%;
        height: intrinsic;
        margin-top: auto;
        margin-bottom: auto;
        /*margin-left: 10%;*/
    }
    .image-2 {
        width: 100%;
        height: intrinsic;
        margin-top: auto;
        margin-bottom: auto;
    }
    .image-1 {
        width: 100%;
        height: intrinsic;
        margin-top: auto;
        margin-bottom: auto;
    }
}