/*@font-face {*/
/*    font-family: 'Circular';*/
/*    src: url("assets/fonts/CircularStd/CircularStd-Medium.ttf");*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Circular';*/
/*    src: url("assets/fonts/CircularStd/CircularStd-Book.ttf");*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Circular';*/
/*    src: url("assets/fonts/CircularStd/CircularStd-Bold.ttf");*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Circular';*/
/*    src: url("assets/fonts/CircularStd/CircularStd-Black.ttf");*/
/*    font-style: normal;*/
/*    font-weight: 800;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Circular';*/
/*    src: url("assets/fonts/CircularStd/CircularStd-MediumItalic.ttf");*/
/*    font-style: italic;*/
/*    font-weight: 500;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Circular';*/
/*    src: url("assets/fonts/CircularStd/CircularStd-BookItalic.ttf");*/
/*    font-style: italic;*/
/*    font-weight: 400;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Circular';*/
/*    src: url("assets/fonts/CircularStd/CircularStd-BoldItalic.ttf");*/
/*    font-style: italic;*/
/*    font-weight: 600;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Circular';*/
/*    src: url("assets/fonts/CircularStd/CircularStd-BlackItalic.ttf");*/
/*    font-style: italic;*/
/*    font-weight: 700;*/
/*}*/

/* cyrillic-ext */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v11/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*.Colors {*/
/*    color: #d9e021;*/
/*    color: #ffffff;*/
/*    color: #000000;*/
/*    color: #333333;*/
/*}*/

@font-face {
    font-family: 'Druk';
    src: url('assets/fonts/Druk/Druk Wide Bold.otf') format('opentype')
}

body {
    margin: 0;
    background-color: #ffffff;
    height: 150vh;
    /*letter-spacing: -0.8px;*/
    font-family: 'Manrope', system-ui, -apple-system, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
a:-webkit-any-link {
    text-decoration: none;
    color: #333333;
}
.pre-header {
    width: -webkit-fill-available;
    max-width: 1450px;
    margin: 0px auto;
    /*top: 0;*/
    left: 0;
    height: 35px;
    position: sticky;
    padding-top: 21px;
    padding-bottom: 21px;
    display: block;
    background: linear-gradient(#ffffff 97%, #dbdbdb);
    z-index: 1;
    transition: height ease-out 0.4s;

    background: rgba(255, 255, 255, 0.65);
    top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 15px;
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgb(232, 232, 232);
}
.header {
    width: -webkit-fill-available;
    display: inline-flex;
    position: sticky;
}
.image-start {
    margin-top: -78px;
    width: -webkit-fill-available;
}
.h-menu {
    text-decoration: none;
    font-size: 16px;
    color: #333333;
    margin-right: 25px;
    vertical-align: -webkit-baseline-middle;
    font-weight: 400;
    transition: 0.2s;
}
.h-menu:hover {
    cursor: pointer;
    transition: fill 0.2s ease-out;
    color: #d9e021;
    /*font-weight: 600;*/
}
.icon-lang {
    height: 22px;
    width: 22px;
    margin-right: 0px;
    fill: #333333;
    vertical-align: -webkit-baseline-middle;
    transition: 0.2s;
    vertical-align: sub;
}
.languages-text {
    margin-right: 75px;
}
.logo-text {
    font-family: 'Druk', system-ui, -apple-system, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    color: #333333;
    font-size: 24px;
    margin-left: 75px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.2s;
}
.logo-text:hover {
    cursor: pointer;
    transition: fill 0.2s ease-in-out;
    color: #d9e021;
}
.animation {
    vertical-align: sub;
    height: 1em;
    overflow: hidden;
    display: inline-block;
    line-height: 2em;
    text-align: start;
}
.ul-word {
    animation: animation 30s infinite;
    padding: 0;
    margin-top: -0.55em;
    list-style: none;
}
@keyframes animation {
    14% { margin-top: -0.55em  }
    28% { margin-top: -2.55em  }
    42% { margin-top: -4.55em  }
    56% { margin-top: -6.55em  }
    68% { margin-top: -8.55em  }
    83% { margin-top: -10.55em }
    96% { margin-top: -12.55em }
}
.button {
    font-family: 'Manrope', system-ui, -apple-system, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    margin-top: 40px;
    border: solid 1px #333333;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 18px;
    padding-right: 18px;
    background: transparent;
    color: #333333;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    transition: 0.2s;
}
.button:hover {
    cursor: pointer;
    border: solid 1px #333333;
    background: #333333;
    font-size: 18px;
    border-radius: 10px;
}
.button:hover a {
    color: #ffffff;
}
.button-2 {
    font-family: 'Manrope', system-ui, -apple-system, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    margin-top: 40px;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 18px;
    padding-right: 18px;
    background: #d9e021;
    color: #333333;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    transition: 0.2s;
}
.button-2:hover {
    cursor: pointer;
    background: #333333;
    color: #ffffff;
    transition: 0.2s;
}
.h1-pre-title {
    font-size: 36px;
    color: #333333;
    font-weight: 700;
}
.h2-pre-title {
    font-size: 21px;
    color: #333333;
    font-weight: 400;
}
.text-h1-block1 {
    display: inherit;
    padding: 80px;
    margin: auto;
    max-width: 650px;
    background-color: white;
    text-align: center;
    height: fit-content;
}
.block-get-started {
    padding-right: 75px;
    padding-left: 75px;
    padding-bottom: 85px;
    padding-top: 85px;
    display: flex;
    background-color: white;
}
.block-get-started-in-text {
    max-width: 500px;
    height: fit-content;
    margin: auto;
}
.image-get-started {
    margin-right: 75px;
    margin-left: 75px;
}
.h1-pre {
    font-size: 36px;
    color: #333333;
    font-weight: 600;
}
.h2-pre {
    font-size: 24px;
    color: #333333;
    font-weight: 400;
}
.block2 {
    height: fit-content;
    width: auto;
    padding-left: 75px;
    padding-right: 75px;
    background-color: white;
}
.block2-in {
    display: inline-flex;
    width: -webkit-fill-available;
    height: fit-content;
    margin-top: 75px;
    margin-bottom: 75px;
    border-radius: 7px;
    overflow: hidden;
}
.image-1 {
    width: 35%;
    height: intrinsic;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 12px;
}

.block3 {
    padding-right: 75px;
    padding-left: 75px;
    background-color: rgb(251, 255, 210);
    height: fit-content;
    width: auto;
}
.block3-in {
    display: inline-flex;
    width: -webkit-fill-available;
    height: fit-content;
    margin-top: 75px;
    margin-bottom: 75px;
    border-radius: 7px;
    overflow: hidden;
}
.image-2 {
    width: 35%;
    height: intrinsic;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 12px;
}
.h1-block {
    font-size: 36px;
    color: #333333;
    font-weight: 600;
}
.h2-block {
    font-size: 22px;
    color: #333333;
    font-weight: 400;
    line-height: 130%;
}

.block4 {
    height: auto;
    width: -webkit-fill-available;
    background-color: white;
    display: inline-flex;
    padding-left: 75px;
}
.menu-block {
    /* padding: 50px; */
    width: -webkit-fill-available;
    height: auto;
    margin-right: 75px;
    margin-top: 75px;
    margin-bottom: 75px;
    display: grid;
    border-radius: 12px;
    background-color: rgb(251, 255, 210);
    overflow: hidden;
    transition: 0.2s;
}

.menu-block:hover {
    cursor: pointer;
    background-color: #ffffff;
    width: -webkit-fill-available;
    height: auto;
    box-shadow: 0px 0px 10px rgba(217, 224, 33, 0.82);
}
.image-3 {
    width: 75%;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.block-contribute {
    display: inline-flex;
    width: -webkit-fill-available;
    height: fit-content;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 75px;
    background: linear-gradient(49.21deg, rgba(252, 245, 3, 0.25) 19.87%, rgba(207, 255, 0, 0.25) 58.46%, rgba(127, 246, 5, 0.25) 97.05%);
    border-radius: 12px;
    overflow: hidden;
}
.image-4 {
    width: 40%;
    height: intrinsic;
    margin-top: auto;
    margin-bottom: auto;
}
.button-3 {
    font-family: 'Manrope', system-ui, -apple-system, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    margin-top: 40px;
    border: solid 1px #333333;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 13px;
    padding-right: 13px;
    background: transparent;
    color: #333333;
    font-size: 15px;
    border-radius: 7px;
    outline: none;
    display: flex;
    transition: 0.2s;
}
.button-3:hover {
    text-align: center;
    cursor: pointer;
    border: solid 1px #333333;
    background: #333333;
    color: #ffffff;
    font-size: 15px;
    border-radius: 7px;
    display: flex;
}
#button-github {
    font-family: 'Manrope', system-ui, -apple-system, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    fill: #333333;
    transition: 0.2s;
}
.button-3:hover #button-github {
    fill: #ffffff;
}

.block-table {
    height: fit-content;
    width: auto;
    padding: 75px;
    display: grid;
    background-color: white;
}
.table {
    gap: 21px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.table-in {
    color: #333333;
    height: 20rem;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px solid;
    padding: 1.5rem;
    border-radius: 12px;
}
.h-table-1 {
    font-size: 26px;
    margin-bottom: 0.5rem;
    color: #333333;
    text-transform: uppercase;
    font-weight: 600;
}
.h-table-2 {
    font-size: 21px;
    color: #333333;
    font-weight: 400;
    line-height: 140%;
}
.h-max {
    font-size: 68px;
    color: #333333;
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 21px;
}

footer {
    padding: 75px;
    display: flex;
    background-color: #f7f7f7;
}
.h3 {
    font-size: 18px;
    font-weight: 600;
    color: #d9e021;
}
.update-links {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f7f7f7;
}
.icon-link {
    margin-left: 15px;
    fill: #333333;
}
.icon-link:hover {
    cursor: pointer;
    fill: #d9e021;
}
.footer-div {
    margin-right: 60px;
    display: block;
}
.li-footer {
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: -40px;
    font-size: 16px;
    font-weight: 400;
}
.li-footer a {
    text-decoration: none;
    color: #333333;
}
.li-footer a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #d9e021;
}
.hat_text:hover #hat svg {
    fill: #d9e021;
}
.hat_text:hover .languages-text{
    color: #d9e021;
}
/*.down_clipart {*/
/*    margin-left: 0.4em;*/
/*    height: 0.5em;*/
/*}*/
/*.dropdown_items {*/
/*    position: absolute;*/
/*    list-style-type: none;*/
/*    display: none;*/
/*    background: #d9e021;*/
/*    width: fit-content;*/
/*    padding-left: 0;*/
/*    margin-top: 15px;*/
/*    margin-left: -70px;*/
/*}*/
/*.dropdown_items:hover .dropdown_items{*/
/*    display: block;*/
/*}*/
/*.dropdown_item_in {*/
/*    padding: 10px;*/
/*    color: white;*/
/*    display: list-item;*/
/*    text-align: -webkit-match-parent;*/
/*}*/
/*.dropdown_item_in:hover {*/
/*    background-color: #e5e995;*/
/*}*/
.hat_text {
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.hat_text:hover {
    color: #d9e021;
}
.desktop-image {
    display: block;
}
.device-image {
    display: none;
}
/* --------------------------- */
.menu-button {display: none}
.mobile-menu {display: none}

@media screen and (max-width: 840px) {
    .menu-button {
        display: flex;
        float: right;
        margin-right: 30px;
        padding-left: 15px;
        padding-top: 12px;
        padding-right: 40px;
    }
    .menu-button-burger::before,
    .menu-button-burger::after {
        position: absolute;
        content: '';
        height: 2px;
        width: 25px;
        background: #333333;
        transition: all .3s ease-in-out;
    }
    .menu-button-burger::after {
        transform: translateY(7px);
    }
    /*ANIMATION OPEN*/
    .menu-button.open .menu-button-burger::before {
        transform: rotate(45deg);
    }
    .menu-button.open .menu-button-burger::after {
        transform: rotate(-45deg);
    }
    .pre-header {
        position: fixed;
    }
    .pre-header.open {
        height: 370px;
        overflow: hidden;
        /*background: linear-gradient(#ffffff 99%, #dbdbdb);*/
    }
    .mobile-menu {
        display: grid;
        grid-gap: 18px;
        width: -webkit-fill-available;
        position: absolute;
        padding-top: 40px;
        padding-right: 45px;
        padding-left: 45px;
        opacity: 0%;
        transition: all .1s ease-in-out;
    }
    .mobile-menu.open {
        margin-top: auto;
        margin-bottom: auto;
        opacity: 100%;
    }
    .menu-mobile-text {
        font-size: 28px;
        font-weight: 400;
        color: #333333;
        text-decoration: none;
    }
    .menu-mobile-text:hover {
        color: #d9e021;
    }
/* --------------------------- */
    .image-start {
        /*margin-top: 75px;*/
        /*margin-top: 105px;*/
    }
    .hat_text {
        display: none;
    }
    .logo-text {
        margin-left: 45px;
    }
    .device-image {
        display: block;
    }
    .menu-header {
        display: none;
    }
    .desktop-image {
        display: none;
    }
    /*.logo-image-div {*/
    /*    display: none;*/
    /*}*/
    /*.logo-image-div-device {*/
    /*    display: block;*/
    /*}*/
    /*#logo-image-div2-device {*/
    /*    width: 70%;*/
    /*    margin: 130px auto 70px auto*/
    /*}*/
    .text-h1-block1 {
        position: relative;
        padding-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 45px;
    }
    .block-get-started {
        display: grid;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 45px;
    }
    .block-get-started-in-text {
        width: 100%;
        height: fit-content;
        margin: 0;
    }
    .image-get-started {
        margin-top: 45px;
        margin-right: auto;
        margin-left: auto;
    }
    .block2 {
        height: fit-content;
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
    .block2-in {
        display: grid;
        width: -webkit-fill-available;
        height: fit-content;
        margin-top: 0;
        margin-bottom: 0;
        border: none;
        box-shadow: none;
        border-radius: 0;
        overflow: hidden;
    }

    .block3 {
        padding-right: 0;
        padding-left: 0;
        background-color: white;
        height: fit-content;
        width: auto;
    }
    .block3-in {
        display: grid;
        width: -webkit-fill-available;
        height: fit-content;
        margin-top: 0;
        margin-bottom: 0;
        border: none;
        box-shadow: none;
        border-radius: 0;
        overflow: hidden;
    }
    .block4 {
        height: auto;
        width: -webkit-fill-available;
        background-color: white;
        display: grid;
        padding: 15px 35px;
    }
    .menu-block {
        background-color: white;
        width: -webkit-fill-available;
        height: auto;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
        border: solid 1px #333333;
        box-shadow: none;
        display: grid;
        border-radius: 7px;
    }
    .menu-block:hover {
        cursor: pointer;
        background-color: #f6faf0;
        width: -webkit-fill-available;
        height: auto;
        border: solid 1px #333333;
        box-shadow: none;
    }
    .block-contribute {
        display: grid;
        width: -webkit-fill-available;
        height: fit-content;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 0;
        padding-bottom: 80px;
        margin-top: 0;
        margin-bottom: 0;
        background: linear-gradient(49.21deg, rgba(252, 245, 3, 0.15) 19.87%, rgba(207, 255, 0, 0.15) 58.46%, rgba(127, 246, 5, 0.15) 97.05%);;
        border-radius: 0;
        overflow: hidden;
    }
    .update-links {
        display: grid;
        padding-left: 45px;
        padding-right: 45px;
    }
    .icon-link {
        margin-top: 20px;
        margin-right: 15px;
        margin-left: 0;
    }
    .icon-link:hover {
        cursor: pointer;
        fill: #d9e021;
    }
    .block-table {
        height: fit-content;
        width: auto;
        padding: 35px;
        display: grid;
    }
    .table {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .table-in {
        color: #333333;
        height: 19rem;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: justify;
        justify-content: space-between;
        align-items: flex-start;
        border: 1px solid;
        padding: 1.5rem;
    }
    footer {
        width: -webkit-fill-available;
        padding: 45px;
        display: inline-grid;
        grid-row-gap: 35px;
    }
    .footer-div {
        margin-right: 0;
    }
    .image-1, .image-2, .image-4{
        width: 100%;
        height: intrinsic;
        margin-top: auto;
        margin-bottom: auto;
        border-radius: 0;
    }
}